@using Microsoft.CodeAnalysis
@using ALOS_Web_Admin.Helpers
@{
    ViewData["Title"] = "Dashboard";
}
<!-- DataTables -->
<link rel="stylesheet" href="/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Reconcilation</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post" action="@Url.Action("CreateRechargeReconsiliation","RechargeReport")">
                            <div class="card-body">
                                @if (ViewContext.ViewData.ModelState.ContainsKey("User"))
                                {
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong>@Html.ValidationMessage("User", "", new { @class = "text-default" })</strong>
                                    </div>
                                }
                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-success alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong>@ViewBag.Message</strong>
                                    </div>
                                }
                                <div class="form-group col-sm-3 float-left">
                                    <label for="">Provider</label>

                                    <select name="provider" id="" class="form-control">
                                        <option value="">All</option>
                                        <option value="awcc">AWCC</option>
                                        <option value="roshan">Roshan</option>
                                        <option value="salaam">Salaam</option>
                                        <option value="etisalat">Etisalat</option>
                                        <option value="mtn">MTN</option>
                                    </select>

                                    <label>Status</label>
                                    <select name="status" class="form-control">

                                        <option disabled="" selected="">Select</option>
                                        <option value="pending">Pending</option>
                                        <option value="success">Success</option>
                                        <option value="failed">Failed</option>
                                        <option value="refund">Refund</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3 float-left">
                                    <div class="col">
                                        <label>Recharge ID</label>
                                        <input type="text" class="form-control" name="rech_id">
                                    </div>
                                    <div class="col">
                                        <label for="">Member Type</label>
                                        <select name="memberType" id="" class="form-control">

                                            <option value="">Select Type</option>
                                            <option value="all">All</option>
                                            <option value="admin">Admin</option>
                                            <option value="subadmin">Sub Admin</option>
                                            <option value="client">Client</option>
                                            <option value="employee">Employee</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3 float-left">
                                    <div class="col">
                                        <label for="">From Date</label>
                                        <input type="date" class="form-control" name="start_date">
                                    </div>
                                    <div class="col">
                                        <label for="">To Date</label>
                                        <input type="date" class="form-control" name="end_date">
                                    </div>
                                </div>

                                <div class="form-group col-sm-3 float-left">

                                    <div class="col">
                                        <label for="">To Time</label>
                                        <input type="time" class="form-control" name="end_time">
                                    </div>
                                    <div class="col">
                                        <label for="">From Time</label>
                                        <input type="time" class="form-control" name="str_time">
                                    </div>

                                </div>
                                <div class="form-group col-sm-3 float-left">

                                    <div class="col">
                                        <label for="">Customer No</label>
                                        <input type="text" name="customerNo" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group col-sm-3 float-left">
                                    <div class="col">
                                        <label>Member</label>
                                        <select name="member" id="member" class="form-control js-example-basic-single " style="height: 41px; overflow: auto;">
                                            @foreach (var member in ViewBag.Users)
                                            {
                                                <option value="@member.Id">@member.Name</option>
                                            }
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="form-group col-sm-3 float-left">
                                    <div class="col">
                                        <label>Action</label>
                                        <button type="submit" id="submit" class="btn btn-primary" style="width: 100%">Search</button>
                                    </div>


                                </div>
                            </div>


                        </form>

                        @if (ViewBag.Transactions != null)
                        {

                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Rech Id</th>
                                                <th>Trn No</th>
                                                <th>Trn Date</th>
                                                <th>Firm</th>
                                                <th>Provider</th>
                                                <th>Cust No</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                @*<th>Action</th>*@
                                                <th>Opr Id</th>
                                                <th>Source</th>
                                                <th>API Name</th>
                                                <th>Responce</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var trans in ViewBag.Transactions)
                                            {
                                                <tr>
                                                    <td>@trans.Id</td>
                                                    <td>@trans.TrnNo</td>
                                                    <td>@trans.TrnDate</td>
                                                    <td>@ViewBag.UserName</td>
                                                    <td>@trans.Provider</td>
                                                    <td>@trans.CustomerNo</td>
                                                    <td>@trans.Amount</td>
                                                    <td>@trans.Status</td>
                                                    <td>@trans.OprId</td>
                                                    <td>@trans.Source</td>
                                                    <td>@trans.ApiName</td>
                                                    <td>@trans.RechargeResponce</td>
                                                    @*<td>@trans.action</td>*@
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        }
                    </div>

                </div>


                <!-- /.row -->
                <!-- Main row -->
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </div>
    </section>
    <!-- /.content -->
</div>

@section dataTableScripts
{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            var select2 = $(".js-example-basic-single").select2();
            select2.data('select2').$selection.css('height', '39px');
        });
    </script>
    <!-- Bootstrap 4 -->
    <script src="/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/Admin/plugins/jszip/jszip.min.js"></script>
    <script src="/Admin/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/Admin/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/Admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/Admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/Admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Admin/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Admin/dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
        function deleteConfirm() {
            var message = confirm('Are sure to delete member ?');
            if (message) {
                return true;
            } else {
                return false;
            }
        }
    </script>
}